

<div class="conatiner">
    <h1 class="pink-text text-lighten-4">EMI Loan Calculator</h1>
    <div class="row">
    <div class="form_input col s6 pink-text">
        <h6>Principal loan amount</h6>
        <input type="range" [(ngModel)]="p" placeholder="Principal loan amount" (input)="result()" min="30000" max="5000000">
        <p>{{p}}</p>
        <h6>Loan tenure in months</h6>
        <input type="range" [(ngModel)]="n" placeholder="Loan tenure in months" (input)="result()"  min="30" max="360">
        <p>{{n}}</p>
        <h6>Monthly interest rate</h6>
        <input type="range" [(ngModel)]="r" placeholder="Monthly interest rate"  (input)="result()" min="8" max="16" step="0.05">
        <p>{{r}}</p>
    </div>
    <div class="col s6">
        <div>
            <h6 class="purple-text">Monthly EMI</h6>
            <p >{{resultAmount}}</p><hr>
        </div>
        <div>
            <h6 class="purple-text">Total Interest</h6>
            <p>{{IntersetAmount}}</p><hr>
        </div>
        <div>
            <h6 class="purple-text">Payable Amount</h6>
            <p>{{PayableAmount}}</p><hr>
        </div>
    </div>
    </div>
</div>

<!-- table  -->

<div class="conatiner_table">
<table border="1">
    <thead>
      <tr>
          <th>Payment No.</th>
          <th>Begining Balance</th>
          <th>EMI</th>
          <th>Principal</th>
          <th>Interest</th>
          <th>Ending Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData()">
        <td>{{item.index}}</td>
        <td>{{item.one}}</td>
        <td>{{item.two}}</td>
        <td>{{item.three}}</td>
        <td>{{item.four}}</td>
        <td>{{item.five}}</td>
      </tr>
    </tbody>
  </table>
</div>       