<p>todo-list works!</p>
<h1>Todo List</h1>

<div class="todo">

    <label for="todo-1">Task 1:</label>
    <input type="text" name="todo-1" #todo>

    <label for="priority-1">Priority:</label>
    <select id="priority-1" name="priority-1" #sel>
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
    </select>

    <button (click)="getTask(todo.value,sel.value)">ADD</button>
    <br>
    <ul *ngFor="let item of taskarr" >
        <li *ngFor="let x of item" [class]="x.pri">{{x.name}}</li>
    </ul>
</div>
