*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width:500px;
    display: block;
    margin: 50px auto;
    border: 2px solid gray;
    background-color: aliceblue;
}

h1{
    font-size: 20px;
    margin: 5px;
}

label{
    float: left;
    width: 50%;
}
input,select{
    float: right;
    width: 50%;
}
#phone{
    width: 100px;
    float: left;
}
#type{
    width: 100px;
    float: right;
}
#zip{
    width: 100px;
    float: left;
}
#optinal{
    width: 100px;
    float: right;
}
.btn{
    /* width: 85px; */
    width: 10%;
    display: block;
    float: none;
    margin: 5px;
}